/*
 * CSS for page layout and more
 */

html {
  font: 16px/1.5 "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 2rem;
  font-size: 1rem;
  display: inline-block;
  max-width: 30rem;
  text-align: left;
}

button {
  font-family: inherit;
}

a {
  color: #0074d9;
}

a:hover {
  color: #001f3f;
}
