
@mixin button($color, $background-color) {
  color: $color;
  background-color: $background-color;
  border-color: darken($background-color, 10%);

  &:hover {
    background-color: darken($background-color, 10%);
    border-color: darken($background-color, 15%);
  }
}

.btn {
  display: inline-block;
  padding: .5rem 1rem;
  font-size: 1rem;
  border: .1rem solid;
  border-radius: .25rem;
  
  &:hover {
    cursor: pointer;
  }
}

.btn-default {
  @include button(#333, #eee);
}

.btn-primary {
  @include button(#fff, #0074d9);
}

.btn-danger {
  @include button(#fff, #ff4136);
}
