.btn {
  display: inline-block;
  padding: .5rem 1rem;
  font-size: 1rem;
  color: #333;
  background-color: #eee;
  border: 1px solid darken(#eee, 10%);

  &:hover {
    cursor: pointer;
    background-color: darken(#eee, 10%);
    border-color: darken(#eee, 15%);
  }
}

.btn-primary {
  color: #fff;
  background-color: #0074d9;
  border-color: darken(#0074d9, 10%);

  &:hover {
    background-color: darken(#0074d9, 10%);
    border-color: darken(#0074d9, 15%);
  }
}

.btn-danger {
  color: #fff;
  background-color: #ff4136;
  border-color: darken(#ff4136, 10%);

  &:hover {
    background-color: darken(#ff4136, 10%);
    border-color: darken(#ff4136, 15%);
  }
}
